@{
    ViewData["Title"] = "首頁";
}

<section id="home-section">
    <div id="home-container">
        <div id="ProjectTitle">
            <h1>智慧養豬：基於AI視覺的豬隻身長估測與活動追蹤系統</h1>
            <h5>Smart Pig Farming: Pig Length Estimation and Activity Tracking System based on AI Vision</h5>
        </div>
        <div id="ViewAndTags" class="text-center">
            <div id="demo-videos-show" class="shadow-lg rounded-1 mb-2">
              <img class="h-100 w-100" src="~/Gif38.gif" alt="範例結果影片展示區塊" srcset=""
                style="height: 100%;width: 100%;object-fit: contain;border-radius: 6px;">
            </div>
            <div id="keyword-block">
                <div class="btn btn-sm btn-keyword mb-2">Deep Learning</div>
                <div class="btn btn-sm btn-keyword mb-2">Intelligent Pig-Breeding Managment</div>
                <div class="btn btn-sm btn-keyword mb-2">Pig Size Estimation</div>
                <div class="btn btn-sm btn-keyword mb-2">Pig Activity Detection and Tracking</div>
            </div>
            <div id="github-block">
                <a href="https://github.com/snake0818/IPBMS">
                    <img src="~/GitHub.svg">
                </a>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="~/css/home.css">