@{
  var pageName = "參考文獻";
  ViewData["Title"] = pageName;
}

<section class="mb-5" style="font-size: larger;">
  <h1>參考文獻</h1>
  <div>[1] 遠見雜誌編輯, ”食肉板塊異動！ 為何「豬肉」不再是國人首選？”, 2022/9.
    [Online]. Available: <a href="https://www.gvm.com.tw/article/94070">聯合新聞網</a>
  </div>
  <div>[2] 彭宣雅, ”農業部：去年豬場減 在養量略增”, 2024/1.
    [Online]. Available: <a href="https://udn.com/news/story/7266/7723324">聯合新聞網</a>
  </div>
  <div>[3] 農委會(畜牧處), ”我國養豬產業轉型升級 朝規模經濟化方向邁進”, 2023/7.
    [Online]. Available: <a href="https://www.moa.gov.tw/theme_data.php? theme=news&sub_theme=agri&id=9100">農業部</a>
  </div>
  <div>[4] 許聰文, ”畜牧場衛生防疫管理措施簡述－做好畜牧場自衛防疫 遠離口蹄疫”, 2015/11.
    [Online]. Available: <a href="https://www.moa.gov.tw/ws.php?id=10221">農業部</a></div>
  <div>[5] 中央社編輯, ”養豬業無重大疫病 估 114 年轉型升級邁向國際”, 2023/12
    [Online]. Available: <a href="https://www.cna.com.tw/news/ahel/202312190275.aspx">中央社</a></div>
  <div>[6] 葉昱翎, ”無人機結合影像辨識應用於觀光農場防疫之研究”, 逢甲大學自動控制工程學系, 碩士論文, 2024 </div>
  <div>[7] 呂翊寧, ”使用 SG3I 技術及孿生卷積神經網路的牛隻行為與身份辨識系統”, 國立臺北科技大學電機工程系, 碩士論文, 2022 </div>
  <div>[8] 張知倫, ”以卷積神經網路為基礎作為監測豬隻活動力之工具”, 國立嘉義大學生物機電工程學系, 碩士論文, 2023 </div>
  <div>[9] 張哲維, ”以基於多重偵測與目標檢測演算法 YOLO 實現禽類健康偵測和辨識”, 國立嘉義大學資訊工程學系研究所, 碩士論文, 2020 </div>
  <div>[10] You-Rong Chen,Chi-Ting Ni,Kiat-Siong Ng,Chia-Lun Hsu,Shen-Chang Chang,Chin-Bin Hsu,Pei-Yin Chen, ”An
    AI-based System for Monitoring Behavior and Growth of Pigs,” 2020 International Computer Symposium (ICS),
    2020/12.
  </div>
  <div>[11] Xiaohan Wang,Xuezhen Cheng,Meng Zhao, ”Automatic Pig Counting Based on Video Detection and Tracking
    Algorithm,” 2022 4th International Conference on Frontiers Technology of Information and Computer (ICFTIC),
    2022/12. </div>
  <div>[12] Anicetus Odo,Niall McLaughlin,Ilias Kyriazakis, ”Automated Monitoring of Ear Biting in Pigs by
    Tracking
    Individuals and Events,” 2024 IEEE/CVF Winter Conference on Applications of Computer Vision (WACV), 2024/1.
  </div>
  <div>[13] Qiumei Yang,Xiangyang Hui,Yigui Huang,Miaobin Chen,Senpeng Huang,Deqin Xiao, ” A Long-Term Video
    Tracking
    Method for Group-Housed Pigs,” College of Mathematics and Informatics, South China Agricultural University,
    2024/5. </div>
  <div>[14] YOLO11 Tutorial, ”
    [Online]. Available: <a
      href="https://colab.research.google.com/github/ultralytics/ultralytics/blob/main/examples/tutorial.ipynb">YOLO11
      Tutorial</a></div>
  <div>[15] Nir Aharon, Roy Orfaig Ben-Zion Bobrovsky, ”BoT-SORT: Robust Associations Multi-Pedestrain Tracking”,
    Tel-Aviv University of Electrical Engineering, 博士論文, 2022/7 </div>
  <div>[16] Bhaskar Bose, ”Monocular Depth Estimation using ZoeDepth : Our Experience”, 2023
    [Online]. Available: <a
      href="@Html.Raw("https://medium.com/@bhaskarbose1998/monocular-depth-estimation-using-zoedepth-our-experience-42fa5974cb59")">medium</a>
  </div>
  <div>[17] Bhaskar Bose, ”Monocular Depth Estimation using ZoeDepth : Our Experience”, 2023
    [Online]. Available: <a
      href="@Html.Raw("https://medium.com/@bhaskarbose1998/monocular-depth-estimation-using-zoedepth-our-experience-42fa5974cb59")">medium</a>
  </div>
  <div>[18] “knoldus”,
    [Online]. Available: <a href="https://blog.knoldus.com/html-css-and-js-as-a-framework/">knoldus</a>
  </div>
  <div>[19] “Documentation”,
    [Online]. Available: <a
      href="https://docs.servicestack.net/releases/v8_01#full-integration-with-asp.net-core-8">Documentation</a>
  </div>
  <div>[20] “Wikimedia commons”,
    [Online]. Available: <a href="https://commons.wikimedia.org/wiki/File:SSE_plc_logo.svg">Wiki</a>
  </div>
  <div>[21] “keenethics”,
    [Online]. Available: <a href="https://keenethics.com/tech-api-integration-rest">keenethics</a>
  </div>
  <div>[22] “PyCharm 官網”,
    [Online]. Available: <a href="https://jetbrains.com/pycharm/">PyCharm</a>
  </div>
  <div>[23] “SQL Server 官網”,
    [Online]. Available: <a href="https://www.microsoft.com/zh-tw/sql-server/">SQL Server</a>
  </div>
  <div>[24] “OpenCV 官網” ,
    [Online]. Available: <a href="https://opencv.org/">OpenCV</a>
  </div>
  <div>[25] Tanya Shrivastava, “Computer vision zone”, 2024/1
    [Online]. Available: <a
      href="@Html.Raw("https://medium.com/@tanyashrivastava13072005/computer-vision-zone-697c9f46590d")">medium</a>
  </div>
  <div>[26] “Flask 中文網”,
    [Online]. Available: <a href="https://flask.github.net.cn/">Flask</a>
  </div>
  <div>[27] “Visual Studio 官網”,
    [Online]. Available: <a href="https://visualstudio.microsoft.com/zh-hant/">VS</a>
  </div>
</section>
<style>
  section a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline;
  }
</style>