@{
  var pageName = "研究過程";
  ViewData["Title"] = pageName;
}

<section>
  <h1>研究背景</h1>
  <p>自2019年開始，人均禽肉消費量超越豬肉，使養豬業急需提升生產效率及產品品質，以滿足市場需求。</p>
  <p>此外，隨人口增長與生活提升，高品質豬肉需求持續增加；農業部調查顯示，豬場數較去年減少89場，
    主要為200頭以下的小型養豬場。整個養豬產業結構正在轉變，顯示出養豬模式正向專業化和規模經濟化轉變，
    加上受到國際上戰爭、氣候等因素衝擊，使飼料供需受到影響，這也使得轉型升級變得非常迫切。 </p>
  <p>台灣養豬產業正從小規模養殖向大規模、專業化轉型，政府推動相關計畫，引入現代化設備和技術，
    提升生產效率與競爭力，並計畫重返國際市場。然而，畜牧業近年面臨口蹄疫、藍耳病等疫情挑戰，
    導致繁殖率降低和產業損失。透過數位孿生技術與智慧管理系統，可強化疾病監控，提升豬隻健康與產業穩定性。
    此外，政府成功撲滅豬瘟等疫病，推動台灣成為無重大疫病國家，顯示智能管理對未來養豬業的重要性。</p>
</section>
<section>
  <h1>研究動機</h1>
  <p>傳統養豬業面臨人力短缺及技術依賴經驗的挑戰，效率低且健康監控有限。
    智慧豬隻追蹤系統透過深度學習與 AI 模型（如 YOLOv11），
    自動估測豬隻大小與活動量，分析飲食及角落行為，提供健康管理數據，降低人力需求，提升養殖效率，推動養豬業智慧化發展。</p>
</section>
<section>
  <h1>研究方法</h1>
  <p>本研究計畫參考雲製造的概念，將利用自建的私有雲平台、最新的虛擬化技術
    (如Docker、Docker Compose、Docker Swarm與Kubernetes等)、開源Web技術
    (如HTML5、Vue.js、Angular、Node.js和RESTful Web Services等)、
    虛擬量測技術、大數據處理技術(Hadoop HDFS、Spark)與深度學習技術來研發一個
    「具備持續整合交付與巨量資料處理能力之新一代虛擬量測服務平台」。</p>
</section>
<style>
  section {
    margin-top: 22px;
    margin-bottom: 22px;
  }
</style>