:root {
  --global-background-color: 240, 190, 167;
  --scrollbar-color: darkgrey;
  --scrollbar-background-color: #f1f1f1;
}

/* ::-webkit-scrollbar {
  display: none;
} */

/* 滾動軸樣式 */
::-webkit-scrollbar {
  display: block;
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
  border: 1px solid var(--scrollbar-background-color);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: auto;
  height: 100%;
  padding: 5px;
}

.icon img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

body {
  font-family: 'Times New Roman', '標楷體', serif;
  background: rgba(var(--global-background-color), 0.92);
  margin: 0;
  padding: 0;
  min-height: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

section {
  /* background: rgba(var(--global-background-color), 0.8); */
  padding-top: 60px;
  display: block;
}

p {
  font-size: x-large;
}

/* @media (min-width: 1600px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1540px;
  }
}
@media (min-width: 1800px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1720px;
  }
} */